BlockZipKB=70
BlockZipKB_Msg = "Your attachment size smaller then 70KB. Cleaned by MTA"
BlockZipEncrypted=true
BlockZipEncrypted_Msg = "Your attachment has been blocked. Reason: zip file is password protection. It's like a malware"
BlockExtensions=["exe","msi","bat","docx"]
BlockExtensions_Msg = "Your attachment is blocked. Reason: Blocked file extensions"
MailEnablePath="C:\\Program Files (x86)\\Mail Enable"