MaxScanSizeKB=140
BlockPassZip=true
BlockPassZip_Msg = "Email is cleaned!\nZip files cannot be encrypted like ramsonware: %1"
BlockExtensions=["exe","msi","bat"]
BlockExtensions_Msg = "Email is cleaned!\nThis mail has contains blocked attachment. Detected file is: %1"
ScanMalwareDomain=true
ScanMalwareDomain_Msg="Email is cleaned!\nMalware domain detected in email body: %1"
EmailFooter="\n\n--\nYour mail changed by mail server - merules v1.0"
MailEnablePath="C:\\Program Files (x86)\\Mail Enable"