MaxScanSizeKB=140
BlockPassZip=true
BlockPassZip_Msg = "Your attachment has been blocked. Reason: zip file is password protection."
BlockExtensions=["exe","msi","bat"]
BlockExtensions_Msg = "Your attachment is blocked. Reason: Blocked file extensions"
MailEnablePath="C:\\Program Files (x86)\\Mail Enable"